/* Setting general body properties and applying the golden ratio for line-height */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-image: url('images/resBack.jpg');
    background-size: cover;
    color: #222344;
    font-size: 16px; /* Base font size */
    line-height: 1.618; /* Line height following the golden ratio */
}


:root {
    --spacing: 15px;
    --icon-size: 2em;
    --header-bg-color: #215c3e; /* Define the background color */
    --text-color: #02000e; /* Define text color for contrast */
    --link-color: #fff; /* Link color */
    --link-hover-color: #011e3a; /* Link hover color */
}


h1 {
    font-size: 2.618em; /* Font size following the golden ratio */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

h2 {
    font-size: 1.618em; /* Font size following the golden ratio */
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 1em; /* Font size following the golden ratio */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}



.skills-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px;
    max-width: 100%;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #011e3a;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: transform 0.2s ease-in-out;
    text-align: center;
}

    .skill i {
        margin-right: 10px;
    }

    .skill:hover {
        transform: scale(1.05);
        background-color: #0056b3;
    }
ul.contact-links {
    display: flex;
    gap: calc(var(--spacing) / 2); /* Set gap using spacing variable */
    list-style-type: none; /* Ensure no bullets or markers */
    list-style: none; /* Double ensure no list styles */
    padding-left: .8em;
    margin: 0;
}

    ul.contact-links li {
        display: inline-block; /* Display list items inline */
        margin: 0; /* Ensure no additional margins */

    }

    ul.contact-links a {
        text-decoration: none;
        color: var(--link-color);
        font-size: var(--icon-size); /* Use icon size variable */
        padding: calc(var(--spacing) / 2); /* Padding around the icons */
        transition: color 0.3s;
    }

        ul.contact-links a:hover {
            color:var(--link-hover-color);
        }

/* Setting properties of the container and applying the golden ratio for width and padding */
.container {
    display:flex;
    flex-direction:row-reverse;
    width: 61.8%; /* Width following the golden ratio */
    max-width: 1600px; /* Max-width for larger screens */
    margin: 0 auto;
    background-color: rgb(251, 254, 251, 0.90);
    padding-left: 1.618% 2.618%; /* Padding following the golden ratio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Setting properties for header, main and footer sections */
header, main, footer {
    padding: 1.618% 2.618%; /* Padding following the golden ratio */
}

p, li {
    color: #7B6F63;
}

/* Setting properties for links and applying the golden ratio for padding */
a {
    color: #7B6F63;
    text-decoration: none;
    padding: 0.618em 1em; /* Padding following the golden ratio */
}

    /* Setting hover color for links */
    a:hover {
        color: #0077cc;
    }

/* Styling for unordered lists */
ul {
    list-style-type: none;
    list-style:none;
}

.mePic {
    width: 175px; /* Adjust the size as needed */
    height: 200px; /* Ensure this is equal to the width for a perfect circle */
    border-radius: 50%; /* Makes the image circular */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    display: block; /* Removes any potential inline spacing issues */
    margin: auto; /* Center the image */
}


header {
    background-color: var(--header-bg-color); /* Apply background color */
    color: var(--text-color); /* Apply text color */
    text-align: center;
    padding: 20px;
    border-radius: 10px; /* Rounded corners for the header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
    width: 80%;
    max-width: 600px;
}

/* Setting properties for sections in the main content */
main section:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

/* Styling for social links and applying the golden ratio for width */
.social-links {
    display: flex;
    justify-content: space-between;
    width: 38.2%; /* Width following the golden ratio */
    margin: 0 auto;
}


@media (max-width: 1420px) {

    .container {
        flex-direction: column;
        /* Stack children vertically */
        margin: 0 auto;
        /* Centrally align the container horizontally */
        padding: 0;
        /* Remove padding */
        width: 100%;
        /* Full width of the viewport */
    }

    header {
        background-color: var(--header-bg-color); /* Apply background color */
        color: var(--text-color); /* Apply text color */
        text-align: center;
        padding: 20px;
        border-radius: 10px; /* Rounded corners for the header */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
        width: 100%;
        max-width: 1420px;
    }
}
/* Print Styles */
@media print {
    body {
        background-image: none;
        color: black;
    }

    .container {
        box-shadow: none;
    }

    a {
        color: black;
        text-decoration: underline;
    }

        a[href^="mailto:"]:after {
            content: " (" attr(href) ")";
        }

        a[href^="tel:"]:after {
            content: " (" attr(href) ")";
        }

    .print-link {
        display: none;
    }
}
