/* Setting general body properties and applying the golden ratio for line-height */
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    background-image: url('images/resBack.jpg');
    background-size: cover;
    color: #222344;
    font-size: 16px; /* Base font size */
    line-height: 1.618; /* Line height following the golden ratio */
}


/* Applying the golden ratio for heading sizes */
h1 {
    font-size: 2.618em; /* Font size following the golden ratio */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
}

h2 {
    font-size: 1.618em; /* Font size following the golden ratio */
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 1em; /* Font size following the golden ratio */
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
}

/* Setting properties of the container and applying the golden ratio for width and padding */
.container {
    width: 61.8%; /* Width following the golden ratio */
    max-width: 1600px; /* Max-width for larger screens */
    margin: 0 auto;
    background-color: rgb(251, 254, 251, 0.90);
    padding: 1.618% 2.618%; /* Padding following the golden ratio */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Setting properties for header, main and footer sections */
header, main, footer {
    padding: 1.618% 2.618%; /* Padding following the golden ratio */
}

p, li {
    color: #7B6F63;
}

/* Setting properties for links and applying the golden ratio for padding */
a {
    color: #7B6F63;
    text-decoration: none;
    padding: 0.618em 1em; /* Padding following the golden ratio */
}

    /* Setting hover color for links */
    a:hover {
        color: #0077cc;
    }

/* Styling for unordered lists */
ul {
    list-style-type: none;
}

/* Styling for list items */
li:before {
    content: "\2713\0020";
    color: #5C5651;
}

/* Setting properties for sections in the main content */
main section:not(:last-of-type) {
    border-bottom: 1px solid #ccc;
}

/* Styling for social links and applying the golden ratio for width */
.social-links {
    display: flex;
    justify-content: space-between;
    width: 38.2%; /* Width following the golden ratio */
    margin: 0 auto;
}

/* Print Styles */
@media print {
    body {
        background-image: none;
        color: black;
    }

    .container {
        box-shadow: none;
    }

    a {
        color: black;
        text-decoration: underline;
    }

        a[href^="mailto:"]:after {
            content: " (" attr(href) ")";
        }

        a[href^="tel:"]:after {
            content: " (" attr(href) ")";
        }

    .print-link {
        display: none;
    }
}
